th {
    padding-bottom: 1em;
    width: 20em;
}

td {
    width: 20em;
    padding: 0 2em 0.5em 2em;
}

table {
    margin: 2em auto 0 auto;

}

select {
    width: 15em;
}

#infosAction {
    color: red;
    text-align: center;
    font-weight: bold;
}

#contenu {
    padding: 1em 5em 2em 20em;
}

#tableauHaut {
    margin: 0 auto 5em auto;
    width: 50em;
}

.titreLigne {
    font-weight: bold;
}
