body {
    padding-top: 1em;
}

select:disabled {
    background-color: antiquewhite;
}

table {
    margin: 2em auto 0 auto;
}

th {
    padding-bottom: 1em;
}

td {
    width: 25em;
    padding: 0 2em 1em 2em;
}

button {
    padding-right: 2em;
}