select {
    width: 15em;
}

select:disabled {
    background-color: antiquewhite;
}

table {
    margin: 2em auto 0 auto;

}

th {
    padding-bottom: 1em;
}

td {
    width: 20em;
    padding: 0 2em 0.5em 2em;
}

#voieOffre {
    width: 5em;
}

#apercu {
    margin-top: 10em;
}

#infosAction {
    color: red;
    text-align: center;
    font-weight: bold;
}

#contenu {
    padding: 1em 5em 2em 20em;
}