#historique {
    margin: auto;
    width: auto;
}

td {
    width: 50vh;
}

#selected {
    background-color: #91d1f7;
}

#titreHistorique {
    text-align: center;
    color: #00CC00;
}

thead a {
    text-decoration: none;
    color: black;
}