th {
    padding-bottom: 1em;
}

td {
    width: 25em;
    padding: 0 2em 1em 2em;
}

button {
    width: 15em;
}

#listeAppareilsUtilises {
    width: 100%;
    height: 5em;
}

#listeAppareilsUtilises::selection {
    background: #FFFFFF;
}

#contenu {
    padding: 1em 5em 2em 20em;
}

#ensTables {
    margin: 5em auto 0 auto;
}

.partieTableau {
    width: 50em;
}