th {
    padding-bottom: 1em;
}

td {
    width: 25em;
    padding: 0 2em 1em 2em;
}

button {
    width: 15em;
}

table {
    margin: auto;
}

div.header {
    text-align: center;
}

.listeUtilises {
    width: 100%;
    height: 5em;
}

.listeUtilises::selection {
    background: #FFFFFF;
}

.listeAjout {
    width: inherit;
}

#contenu {
    padding: 1em 5em 2em 20em;
}

#ensTables {
    margin: 5em auto 0 auto;
}

#infosAction {
    color: red;
    text-align: center;
    font-weight: bold;
}

.partieTableau {
    width: 50em;
}