th {
    padding-bottom: 1em;
}

td {
    width: 25em;
    padding: 0 2em 1em 2em;
}

table {
    margin: auto;
}

.listeUtilises {
    width: 20em;
    height: 5em;
}

.listeUtilises::selection {
    background: #FFFFFF;
}

.listeAjout {
    width: 20em;
}

#ensTables {
    margin: 5em auto 0 auto;
}

.partieTableau {
    width: 50em;
}