table {
    margin: auto;
}

th {
    text-align: center;
}

td {
    width: 15em;
}

button > a {
    color: white;
    text-decoration: none;
}

div.header {
    text-align: center;
}

#contenu {
    padding: 1em 5em 0 20em;
}

#infosAction {
    color: red;
    text-align: center;
    font-weight: bold;
}