table {
    margin: auto;
}

th {
    text-align: center;
}

td {
    width: 15em;
}

button > a {
    color: white;
    text-decoration: none;
}

#choixAffaire select {
    width: 10em;
    margin-left: 2em;
}

#choixAffaire {
    padding-left: 5em;
    margin: auto;
    width: 30em;
}

#contenu {
    padding: 1em 5em 0 20em;
}

.pvAControler {
    background-color: #fbffb8;
}