:not(.modal div.header) {
    text-align: center;
}

.header {
    text-align: center;
}

#menu {
    position: fixed;
    left: 0;
    height: inherit;
}

#menu h1 {
    padding-top: 0.5em;
}

.labelCB {
    margin-right: 1em;
}

#retour {
    margin-top: 3em;
}

#infosAction {
    color: red;
    text-align: center;
    font-weight: bold;
}


#contenu {
    padding: 1em 5em 2em 20em;
}