:not(.modal div.header) {
    text-align: center;
}

.header {
    text-align: center;
}

#help {
    width: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
}

#menu {
    position: fixed;
    left: 0;
    height: inherit;
}

#menu h1 {
    padding-top: 0.5em;
}

.labelCB {
    margin-right: 1em;
}

#retour {
    margin-top: 3em;
}

#infosAction {
    color: red;
    text-align: center;
    font-weight: bold;
}

#contenu {
    padding: 1em 5em 2em 20em;
}

#modalAide button {
    margin-bottom: 1.5vh;
    margin-right: 3vh;
    width: 10vh;
}

#modalAide p:first-of-type {
    padding-top: 3vh;
}

#modalAide p {
    padding: 1vh 3vh 1vh 3vh;
}

#modalAide p:first-letter {
    padding-left: 3vh;
}

#deconnexion {
    text-align: center;
}

#deconnexion a {
    color: red;
    font-weight: bold;
    font-size: 1em;
}

@media screen and (max-width: 1500px) {
    #menu {
        display: none;
    }
}