table {
    margin: 4vh auto auto auto;
}

td {
    width: 35vh;
    text-align: center;
    padding: 0 2vh 2vh 2vh;
}

tr > th {
    padding: 0 0 2vh 0;
}

select, input[type='date'] {
    width: 25vh;
}

label.desc {
    font-weight: bold;
}

.boutons {
    margin-top: 4vh;
}

.ensTables {
    margin-top: 3vh;
    padding-bottom: 3vh;
}
