table {
    margin: auto;
}

td {
    width: 35vh;
    text-align: center;
    padding: 0 2vh 2vh 2vh;
}

tr > th {
    padding:  0 0 2vh 0;
}

select, input[type='date'] {
    width: 25vh;
}

label.desc {
    font-weight: bold;
}

.boutons {
    margin-top: 4vh;
}

.ensTables {
    margin-top: 5vh;
    padding-bottom: 5vh;
}
